* {
    font-family: sans-serif;
    color: #fff;
    margin: auto;
}
body {
    background-color: rgb(21, 21, 38);
}
button {
    background-color: rgb(12,9,17);
    color: rgb(70,70,200);
    margin: 30px;
    margin-top: 0;
    padding: 10px;
    border: none;
    cursor: pointer;
}
ul {
    list-style-type: square;
    padding: 15px 2em;
}
li {
    padding: 5px 0;
}
.title-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content:start;
    background-color: rgb(12,9,17);
    padding:1em;
}
.index-button {
    place-items: end;
}
.item .index {
    display: flex;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:1em;
}
.heading {
    width: vw;
    height: vh;
    padding: 2em;
    background-color: rgb(12, 9, 17);
    border-bottom: 5px solid rgb(70,70,200);
    text-align: center;
}
.item {
    margin: 30px;
    margin-bottom: 0;
    background-color: rgba(12, 9, 17,.5);
}
.item:last-of-type {
    margin-bottom: 30px;
}
.company, .title {
    font-weight: 600;
    font-size: x-large;
    display: inline-block;
}
.duration {
    font-style: italic;
    font-size: medium;
    font-weight: 100;
    color: rgb(200,200,250);
    margin-left: 2em;
}
.position {
    font-size: larger;
    margin: 0;
    padding: 10px 1em;
    border-bottom: 5px solid rgb(12, 9, 17);
}
#goTo {
    margin:auto;
    justify-content: flex-end;
}
#goTo:hover, #return:hover {
    background-color: rgb(70,70,200);
    color: rgb(21, 21, 38);
    cursor: pointer;
}
.github {
    text-align: center;
}
#link:hover {
    color: rgb(70,70,200);
}
#index-name{
    padding-bottom: 15px;
}
img {
    display: block;
    width: 50%;
    height: 50%;
    max-width:500px;
    max-height: 500px;
}
.wip {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}
.minor {
    font-weight: bold;
    font-size: large;
}
.description {
    margin: 20px;
}